@font-face {
    font-family: 'Ghanachocolate';
    src: url('../../assets/fonts/Ghanachocolate.ttf') format('truetype');
    font-display: swap;
}

ol {
    font-size: 25px;
    font-family: 'Ghanachocolate', serif;
    margin-bottom: 20px;
    cursor: pointer;
}

ol:hover {
    color: '#280956';
}
