@font-face {
    font-family: 'Ghanachocolate';
    src: url('../../assets/fonts/Ghanachocolate.ttf') format('truetype');
    font-display: swap;
}

ol {
    color: gray;
    font-size: 25px;
    font-family: 'Ghanachocolate', serif;
    margin-bottom: 20px;
    cursor: pointer;
}

ol:hover,
ol.active {
    color: #280956;
    font-weight: bold;
}
